<!DOCTYPE html>
<html lang="en">  
  {% include head.html %}
  <body>
  <div class="container">
    {% include header.html %}   
    <main>
      <p id="main" tabIndex="-1" class="sr-only">Main Content</p>
      <div class="main-content">
        {{ content }}
      </div>
    </main>
    <aside>
      {% capture sidebar %}{% if page.sidebar %}{% include sidebars/{{page.sidebar}}.html %}{% else %}{% include sidebars/default.html %}{% endif %}{% endcapture %} 
      {{ sidebar | markdownify }}
    </aside>
    {% include footer.html %}
  </div>
  {% include scripts.html %}
  </body>
</html>
