<a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>

<header class="site-header">
  <a href="/"><img alt="DASH: Digital Access to Scholarship at Harvard. A Service of the Office for Scholarly Communication" src="{{site.baseurl}}/assets/img/dash_logo.gif"></a>
</header>

<nav role="navigation" aria-label="main">
  <ul class="nav nav-pills">
    <li><a href="/" >DASH Home</a></li>
    <li><a href="http://dash.harvard.edu/community-list" >Browse &amp; Search</a></li>
    <li><a href="https://osc.hul.harvard.edu/dash/mydash" >DASH Stats</a></li>
    <li class="dropdown">
      <a href="#" id="about-toggle" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About DASH <span class="caret"></span></a>
      <ul class="dropdown-menu" aria-labelledby="about-toggle">
        <li><a href="{{ site.baseurl }}/about/">About DASH</a></li>
        <li><a href="https://dash.harvard.edu/stories">DASH Stories</a></li>
        <li><a href="{{ site.baseurl }}/features/">Featured Works</a></li>
        <li><a href="{{ site.baseurl }}/termsofuse/">Terms of Use</a></li>
        <li><a href="{{ site.baseurl }}/privacy-policy-dash-repository/" title="Privacy Policy for DASH Repository">Privacy Policy</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" id="deposit-toggle" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Deposit Your Work <span class="caret"></span></a>
      <ul class="dropdown-menu" aria-labelledby="deposit-toggle">
        <li><a href="https://osc.hul.harvard.edu/dash/quicksubmit" >Quick Submit</a></li>
        <li><a href="https://osc.hul.harvard.edu/dash/proxy/webform" >Assistance Authorization</a></li>
        <li><a href="{{ site.baseurl }}/fellows/" >OA Fellows</a></li>
        <li><a href="{{ site.baseurl }}/manual-deposit/" >Manual Deposit</a></li>
      </ul>
    </li>
    <li><a href="{{ site.baseurl }}/faq/" >DASH FAQ</a></li>
    <li><a href="http://osc.hul.harvard.edu/" title="Office for Scholarly Communication">OSC</a></li>
  </ul>
</nav>
